.admission {
  .admission-wrap {
    margin-top: 120px;
    margin-bottom: 140px;

    .container {
      .row {
        .col-lg-6 {
          img {
            max-width: 100%;
            height: auto;
          }
        }
        .col-lg-5 {
          h1 {
            margin-bottom: 16px;
          }
          p {
            margin-bottom: 23px;
          }

          .info {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            .block {
              display: flex;
              flex-direction: column;
              text-align: center;

              span {
                font-family: "Montserrat", sans-serif;
              }

              .number {
                font-weight: 700;
                font-size: 40px;
                margin-bottom: 5px;
              }

              .text {
                font-weight: 300;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .admission {
    .admission-wrap {
      margin: 50px 20px;
      transition: all 0.5s;

      .container {
        .row {
          text-align: center;
          transition: all 0.5s;

          .col-lg-6 {
            margin-bottom: 20px;
          }

          .col-lg-5 {
            .info {
              justify-content: space-around;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 585px) {
  .admission {
    .admission-wrap {
      .container {
        .row {
          .col-lg-5 {
            h1 {
              font-size: 34px;
              transition: all 0.5s;
            }

            .info {
              .block {
                .number {
                  font-size: 34px;
                  transition: all 0.5s;
                }

                .text {
                  font-size: 18px;
                  transition: all 0.5s;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .admission {
    .admission-wrap {
      .container {
        .row {
          .col-lg-6 {
            display: none;
            transition: all 0.5s;
          }
          .col-lg-5 {
            .info {
              flex-wrap: wrap;
              flex-direction: column;
              transition: all 0.5s;

              .block {
                margin-bottom: 15px;
              }
            }
          }
        }
      }
    }
  }
}
